<div class="container">
  <div class="row mt-4 text-center">
    <div class="col-12">
      <img id="burger-image" class="img-fluid" src="assets/burger.jpg" alt="burger">
      <h2>Burger Eater!</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-lg-5">
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="row box">
        <div class="col-6">
          <pre>{{this.id}}. {{this.burger_name}}</pre>
        </div>
        <div class="col-6 text-right">
          <button data-id={{this.id}}>DEVOUR IT!</button>
        </div>
      </div>

      {{/unless}}
      {{/each}}
    </div>
    <div class="col-12 col-lg-5 offset-lg-2 eaten">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="row box">
        <div class="col-12">
          <pre>{{this.id}}. {{this.burger_name}}</pre>
        </div>
      </div>

      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col-12">
      <h6>Enter a burger you want to eat!</h6>
    </div>
  </div>

  <div class="row mt-2 mb-4 text-center">
    <div class="col-8 offset-2">
      <form action="/add" method="POST" autocomplete="off">
        <input name="add-burger" id="add"></input>
        <button class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  $(".box").on("click", "button", function (event) {
    $.ajax("/eat", { 
      type: 'PUT',
      data: { id: $(this).attr("data-id") }
    }).then(
      function() {
        console.log("changed devoured to true");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>